

#index_holder {
  text-align: center;
}

#index_header {
  text-align: center;
  width: 100%;
  padding: 10px;
}

#piano_holder {
  position: absolute;
  left: 500px;
  top: 200px;
}

#directions {
  text-align: center;
}


body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/62/49/a5/6249a57bfff076f051ae30f24e9eaa2b.jpg");
}
