#log_in_fields {
  height: 60vh;
  width: 70vw;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  padding: 32px;

}


#sign_up_fields {

  height: 60vh;
  width: 70vw;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  padding: 32px;

}
