
#show_header {
  text-align: center;
}

.PianoContainer {
  text-align: center;
}

#commands {
  text-align: center;
}


button {
  text-align: center;
  justify-content: center;
}

.command_header {
  text-align: center;
}


h2 {
  text-align: center;

}

#wrapper {
  text-align: center;
}

#log{
  text-align: center;
}
